<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>
      {{- title | strip_html | append: ' | ' | if: title -}}
      {{- site.title -}}
    </title>
    <link rel="icon" href="/favicon.ico">

    {%- for href in site.styles %}
      <link rel="stylesheet" href="{{ href }}">
    {%- endfor %}
    {% # prettier-ignore %}
    <style>{{ site.inline_styles | join: '\n' }}</style>
    {% # %}

    {%- for src in site.scripts %}
      <script src="{{ src }}" defer></script>
    {%- endfor %}
    {% # prettier-ignore %}
    <script type="module">{{ site.inline_scripts | join: '\n' }}</script>
    {% # %}

    {{ content_for_header }}
    {% render './_gtm', site: site %}
  </head>

  <body>
    {% render './_gtm', site: site, for_body: true %}
    {{ body }}
    {% # %}
  </body>
</html>
